@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: white;
}

/* Навигация */
.page-header {
  background-color: #ffe17f;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-top {
  display: flex;
}

.search-form {
  min-width: 517px;
  margin: 0;
  padding: 0;
}

.navigation-enter {
  min-width: 231px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}


.navigation-list {
  display: flex;
  min-width: 240px;
  margin-left: auto;
  padding: 0;
  justify-content: flex-end;
}

.navigation-link-button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
}

.navigation-bottom {
  display: flex;
  justify-content: center;
  min-width: 231px;
}

.navigation-service {
  display: flex;
  min-width: 471px;
  margin-left: auto;
  justify-content: flex-end;
}

.service-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.navigation-item {
  width: 105px;
  list-style-type: none;
}


.navigation-service-item {
  width: 127px;
  list-style-type: none;
}

/* Слайдер */


.title-items {
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.title-paragraph {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
}

.advantages-title {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.advantages-item {
  list-style-type: none;
}

.product-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.slider-description {
  width: 560px;
}

.slider-wrapper {
  display: flex;
}

/* Меню продукции */
.product-list {
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 160px;
  list-style-type: none;
}

/* Сервис */

.delivery-wrapper {
  display: flex;
}

.delivery-list {
  width: 287px;
}

.serice-menu {
  width: 452px;
}

.button-service {
  border: none;
}

.delivery {
  background-color: rgba(240, 240, 240, 1);
}

.delivery-button {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.delivery-item {
  list-style-type: none;
}

.contacts-phone {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.company-item {
  color: rgba(255, 199, 0, 1);
}

.company-list span {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.help-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.slider-peacture-bracelet,
.slider-peacture-selfie {
  display: none;
}

.guarantee,
.credit {
  display: none;
}

.about-us {
  width: 508.5px;
}

.contact {
  width: 532px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Меню продукции */
.subscribe-title {
  width: 348px;
}

.subscribe-title-paragraph {
  width: 560px;
}

/* подвал */
.page-footer {
  background-color: rgba(68, 68, 68, 1);
}


.footer-paragraph {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

.help-link-footer {
  color: rgba(255, 255, 255, 1);
}

.footer-item {
  list-style-type: none;
}
