@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: white;
}

/* Навигация */

.page-header {
  background-image: linear-gradient(#ffff 20px, #FFE17F 20px, #FFE17F);
  width: 1160px;
  margin: 0 auto;
}


.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-top {
  display: flex;
}

.search-form {
  min-width: 517px;
  display: flex;
}

.navigation-enter {
  min-width: 231px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  margin-left: 26px;
}

.input-search {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  background-color: transparent;
  min-width: 359px;
  padding: 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

.button-search {
  min-width: 160px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: transparent;
  padding: 10px 56px;
  border-radius: 0px 50px 50px 0px;
}

.navigation-top {
  padding-top: 30px;
}

.navigation-list {
  display: flex;
  min-width: 240px;
  margin: 0 0 0 auto;
  padding: 0;
  justify-content: flex-end;
}

.navigation-link-button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.navigation-bottom {
  display: flex;
  justify-content: center;
  min-width: 231px;
  padding-top: 30px;
}

.navigation-service {
  display: flex;
  min-width: 471px;
  margin: 0 0 0 auto;
  padding: 0;
  justify-content: flex-end;
}

.service-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}


.navigation-item {
  width: 105px;
  list-style-type: none;
  text-align: center;
}


.navigation-service-item {
  width: 127px;
  list-style-type: none;
}

/* Слайдер */

.popular-goods {
  width: 1160px;
  margin: 0 auto;
}

.main-index {
  margin: 0 auto;
}

.title-items {
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.title-paragraph {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
}

.advantages-title {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.advantages-item {
  list-style-type: none;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.product-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.slider-description {
  width: 560px;
  padding-left: 40px;
}

.slider-peacture {
  display: flex;
}

.slider-peacture:not(.slider-peacture-current) {
  display: none;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Меню продукции */

.product {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.product-item {
  width: 160px;
  list-style-type: none;
}

/* Сервис */

.service-wrapper {
  background-color: #F0F0F0;
}

.service {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}


.service-list {
  width: 287px;
  align-items: center;
}

.service-menu {
  min-width: 452px;
  padding-left: 116px;
}

.service-paragraph {
  min-width: 452px;
}

.service-description {
  list-style-type: none;
}

.button-service {
  border: none;
}

.service-item-guarantee {
  padding-top: 35px;
  padding-bottom: 35px;
}



.delivery-button {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0 auto;
}

.delivery-rare {
  text-align: center;
  margin-top: 70px;
  width: 1160px;
  background-color: #F0F0F0;
  padding: 40px 125px;
}

.service-item {
  display: flex;
  list-style-type: none;
}

.contacts-phone {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.company-item {
  color: rgba(255, 199, 0, 1);
}

.company-list span {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.help-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.service-menu:not(.service-menu-current) {
  display: none;
}

/* Контакты */

.about-us {
  width: 508.5px;
}

.contact {
  width: 532px;
}

.working-hours {
  list-style-type: none;
  margin-right: 0 auto;
}

.contact-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;

}

/* Подписаться */

.subscribe-wrapper {
  background-color: #F0F0F0;
}

.subscribe-title {
  width: 348px;
  margin: 0;
  padding-bottom: 144px;
}

.subscribe-title-paragraph {
  width: 560px;
  margin: 0;
}



.subscribe-form {
  display: flex;
}

.field {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  background-color: transparent;
  min-width: 557px;
  padding: 16px 11px;
  border: none;
  border-bottom: 2px solid #C4C4C4;
}

.button-subscribe {
  min-width: 175px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: transparent;
  padding: 18px 39px;
  border: 3px solid rgba(196, 196, 196, 1);
  ;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 56px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* подвал */
.page-footer {
  background-color: rgba(68, 68, 68, 1);
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 239px 444px 175px;
  grid-template-rows: 36px 40px 40px;
  column-gap: 116px;
  row-gap: 62px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
}

.footer-link {
  grid-column: 2;
  grid-row: 2;
}

.logo-footer-device {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
}

.footer-address {
  grid-column: 1;
  grid-row: 2;
}

.footer-list {
  display: flex;
  margin: 0;
}

.phone-contact {
  grid-column: 3;
  grid-row: 2;
}

.footer-social {
  grid-column: 2;
  grid-row: 3;
}

.logo-footer-html {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
}

.footer-paragraph {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

.help-link-footer {
  color: rgba(255, 255, 255, 1);
  min-width: 125px;
  padding: 35px 10px;
}

.footer-item {
  list-style-type: none;
}
